@font-face {
  font-family: "Post No Bills Jaffna";
  src: url("../fonts/Post-No-Bills-Jaffna/PostNoBillsJaffna-Bold.woff2") format("woff2"),
    url("../fonts/Post-No-Bills-Jaffna/PostNoBillsJaffna-Bold.woff") format("woff"),
    url("../fonts/Post-No-Bills-Jaffna/PostNoBillsJaffna-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
