html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.wide-container {
  max-width: 1920px;
  margin: 0 auto;
}
